<div class="imageUrl">
    <div class="intro-text">
        <div class="intro-lead-in">Bienvenido al sistema de gestión!</div>
        <div class="intro-heading">Su lugar de Administración</div>
        <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
</div>
<div>
    <section data-ng-include=" 'footer.html'"
            id="footer" class="top-footer"></section>
</div>