        
<div id="nav-wrapper">
    <ul id="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li ng-hide= "isAdmin()">
            <a href="#/Equipos"><i class="fa fa-phone"></i><span data-i18n="Administración Móviles"></span></a>
            <ul>
                <li><a href="#/moviles/misEquipos"> <i class="fa fa-exclamation-triangle"></i><span data-i18n=" Mis Equipos"></span> </a></li> 
                <li><a href="#/moviles/altaModelo"> <i class="fa fa-plus"></i><span data-i18n=" Modelos"></span> </a></li> 
            </ul>
        </li>
        <li ng-hide= "isAdmin()">
            <a href="#/Equipos"><i class="fa fa-phone"></i><span data-i18n="Estadisticas"></span></a>
            <ul>
                <li><a href=""> <i class="fa fa-exclamation-triangle"></i><span data-i18n=" Revendedores mas activos"></span> </a></li> 
                <li><a href="#/ventas/misVentas"> <i class="fa fa-plus"></i><span data-i18n="Ganancia"></span> </a></li> 
            </ul>
        </li>
        <li>
            <a href="#/Ventas"><i class="fa fa-usd"></i><span data-i18n="Gestión Ventas"></span></a>
            <ul>
                <li><a href="#/ventas/generarVentas"> <i class="fa fa-shopping-cart"></i><span data-i18n="Ventas"></span> </a></li> 
                <li><a href=""> <i class="fa fa-exclamation-triangle"></i><span data-i18n="Stock"></span> </a></li> 
                <li><a href=""> <i class="fa fa-paper-plane"></i><span data-i18n="Re Ventas"></span> </a></li>
            </ul>
        </li>
        
         <li ng-hide= "isAdmin()">
            <a href="#/Clientes"><i class="fa fa-user"></i><span data-i18n="Administracion de personas"></span></a>
            <ul>
                <li><a href="#/clientes/misClientes"> <i class="fa fa-exclamation-triangle"></i><span data-i18n="Clientes"></span> </a></li> 
                <li><a href=""> <i class="fa fa-exclamation-triangle"></i><span data-i18n="Usuarios"></span> </a></li>                 
            </ul>
        </li>
    </ul>
</div>