<div class="modal-header">
    <h4 class="modal-title">Seleccion Telefono</h4>
</div>
<div class="modal-body">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Mis Equipos
                </div>
                <div ui-grid="opcionesGrillaMisEquipos" ui-grid-auto-resize ui-grid-selection></div>
            </div>
            <!-- END row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<div class="modal-footer">
    <div class="span9 btn-block no-padding">
        <button class="btn pull-right btn-primary" type="button" ng-disabled="altaEquipo.$invalid" ng-click="ok()">Aceptar</button>
        <button class="btn pull-right btn-default" type="button" ng-click="cancel()">Cancelar</button>
    </div>
</div>