<div class="modal-header">        
        <h4 class="modal-title">Alta Nuevo Equipo</h4>
      </div>
      <div class="modal-body">
          <!-- Cuerpo del modal-->
         <p>Usted dara de alta un nuevo equipo. ¿Esta realmente seguro de continuar?</p>
        <!--FIN Cuerpo del modal-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Dar de Alta</button>
</div>