<div class="modal-header">        
        <h4 class="modal-title">Alta Nuevo Equipo</h4>
      </div>
      <div class="modal-body">
          <!-- Cuerpo del modal-->
         <p>Desea continuar y dar de alta el equipo ingresado?</p>    
        <!--FIN Cuerpo del modal-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Dar de Alta</button>
</div>