<div class="modal-header">        
        <h4 class="modal-title">Administración Equipos</h4>
      </div>
      <div class="modal-body">
          <!-- Cuerpo del modal-->
        <p>¿Esta realmente seguro que desea de continuar?</p>
        <!--FIN Cuerpo del modal-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Aceptar</button>
</div>