<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gestión Ventas</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Ventas
            </div>


            <form name="altaVenta">
                <!-- Estructura select y boton lado a lado -->
                <div class="ajustContainer">
                    <label>Cliente</label>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <!-- Hay que reemplazarlo por un ng-repeat de marcas-->
                                    <input class="form-control" ng-model="venta.cliente" placeholder="{{descripcionCliente}}" ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <button class="btn pull-right btn-success " type="button" ng-click="seleccionarCliente()">Seleccion Cliente<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ajustContainer">
                    <label>Equipo</label>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <!-- Hay que reemplazarlo por un ng-repeat de marcas-->
                                    <input class="form-control" ng-model="venta.equipo" placeholder="{{descripcionEquipo}}" ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <button class="btn pull-right btn-success " type="button" ng-click="seleccionarTelefono()">Buscar Equipo<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="col-sm-6">
                        <label>Precio</label>
                        <input class="form-control" placeholder="Ingrese el Precio" name="Precio" ng-model="venta.precio" required>

                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaVenta.Precio.$error.required" ng-if="altaVenta.Precio.$touched">
                            Campo obligatorio</i>
                        </div>
                    </div>
                </fieldset>

                <!-- END Estructura select y boton lado a lado -->



                <!-- Estructura select y boton lado a lado -->
                <!--no borrar-->
                <!--<div class="ajustContainer">
                        <label>Cuotas</label>
                            <div class="panel-body">
                               <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">   
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>3</option>
                                                <option>6</option>
                                                <option>12</option>
                                                <option>18</option>
                                            </select>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                    </div>  -->
                <!-- END Estructura select y boton lado a lado -->



            </form>
            <div class="span9 btn-block no-padding">
                <button class="btn pull-right btn-primary" ng-click="agregarVenta()" type="button">Aceptar Venta</button>
                <button class="btn pull-right btn-default" type="button">Cancelar</button>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->