
 <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Gestión Ventas</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>               
                <!-- /.row -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Mis Ventas - Este Mes
                    </div>
                    <!-- contenido aca -->
                    <canvas  class="chart chart-line" chart-data="dataMes"
                        chart-labels="labelsMes" chart-legend="true" chart-series="seriesMes"
                        chart-click="onClick" >
                    </canvas> 
                </div> 
                <!-- END row -->              
            </div>
            <!-- /.container-fluid -->
        </div>
<!-- /#page-wrapper -->        
