.buttonStyles{
    margin-left: 60% !important;
    margin-bottom: 5%;
}

.adjustRow{
    margin-top: 2% !important;
    margin-left: 5%;
}

.ajustContainer{
    margin-left: 10px;
}

.imageUrl{background-image:url(../images/apple_iphone.jpg);background-repeat:none;background-attachment:scroll;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;-o-background-size:cover;text-align:center;color:#fff}

.imageUrl .intro-text{padding-top:100px;padding-bottom:50px}

.imageUrl .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:22px;line-height:22px;margin-bottom:25px}

.imageUrl .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:50px;line-height:50px;margin-bottom:25px}

@media (min-width:768px){.imageUrl .intro-text{padding-top:300px;padding-bottom:200px}

.imageUrl .intro-text .intro-lead-in{font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;font-style:italic;font-size:40px;line-height:40px;margin-bottom:25px}

.imageUrl .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;font-size:75px;line-height:75px;margin-bottom:50px}}