 <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Nuestros Clientes</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Clientes Deudores
                    </div>
                    <div ui-grid="opcioneGrillaClientesDeudores" ui-grid-exporter ui-grid-auto-resize ></div>
                </div>  
                <!-- END row -->              
            </div>
            <!-- /.container-fluid -->
        </div>
<!-- /#page-wrapper -->       