 <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Nuestros Clientes</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <p>
                    <button class="btn btn-primary" type="button" ng-click="abrirModalAltaCliente()">Dar de alta</button>
                    <button class="btn btn-warning" type="button" ng-click="abrirModalModificarCliente()" ng-disabled="habilitarEdicion">Modificar</button>
                </p>
                <!-- /.row -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Mis Clientes
                    </div>
                    <div ui-grid="opcionesGrillaMisClientes" ui-grid-auto-resize ui-grid-selection></div>
                </div>  
                <!-- END row -->              
            </div>
            <!-- /.container-fluid -->
        </div>
<!-- /#page-wrapper -->        
