<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Nuestros Clientes</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Modificar Cliente
                    </div>
                    
                  <form name="altaCliente">
                    <fieldset class="form-group">
                        <label>DNI</label>
                        <input class="form-control" placeholder="Ingrese el DNI" name="Dni" ng-keyup="buscarDni($event.keyCode)" ng-model="cliente.Dni" required>
                        
                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaCliente.Dni.$error.required" ng-if="altaCliente.Dni.$touched">
                            Campo obligatorio</i>
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Apellido</label>
                        <input class="form-control" placeholder="Ingrese el Apellido" name="Apellido" ng-model="cliente.Apellido" required>
                        
                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaCliente.Apellido.$error.required" ng-if="altaCliente.Apellido.$touched">
                            Campo obligatorio</i>
                        </div>
                    </fieldset>
 
                    <fieldset class="form-group">
                        <label>Nombres</label>
                        <input class="form-control" placeholder="Ingrese el Nombre" name="Nombre" ng-model="cliente.Nombre" required>
                        
                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaCliente.Nombre.$error.required" ng-if="altaCliente.Nombre.$touched">
                            Campo obligatorio</i>
                        </div>
                    </fieldset>
                   
                    <fieldset class="form-group">
                        <label>Telefono</label>
                        <input class="form-control" placeholder="Ingrese el Telefono" name="Telefono" ng-model="cliente.Telefono" required>
                        
                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaCliente.Telefono.$error.required" ng-if="altaCliente.Telefono.$touched">
                            Campo obligatorio</i>
                        </div>
                    </fieldset>  
                   
                    <fieldset class="form-group">
                        <label>Email</label>
                        <input class="form-control" placeholder="Ingrese el Email" name="Email" ng-model="cliente.Email" required>
                        
                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaCliente.Email.$error.required" ng-if="altaCliente.Email.$touched">
                            Campo obligatorio</i>
                        </div>
                    </fieldset> 
                    
                     <fieldset class="form-group">
                        <label>Direccion</label>
                        <input class="form-control" placeholder="Ingrese la Direccion" name="Direccion" ng-model="cliente.Direccion" required>
                        
                        <div style="color: #FF4141">
                            <i class="error" ng-show="altaCliente.Direccion.$error.required" ng-if="altaCliente.Direccion.$touched">
                            Campo obligatorio</i>
                        </div>
                    </fieldset>
                    
                    <div class="modal-footer">
                        <div class="span9 btn-block no-padding">
                            <button class="btn pull-right btn-primary" type="button" ng-disabled="altaCliente.$invalid" ng-click="ok()">Modificar Cliente</button>
                            <button class="btn pull-right btn-default" type="button" ng-click="cancel()">Cancelar</button>
                        </div>
                    </div>
                    </form>
                    
                </div>                
            </div>
            <!-- /.container-fluid -->
        </div>
<!-- /#page-wrapper -->        