<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Administración Móviles</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Alta Equipos
            </div>

            <form autocomplete="false" name="altaEquipo">
                <!-- END Estructura select y boton lado a lado -->
                <fieldset class="form-group">
                    <label>Código del modelo</label>
                    <input type="text" class="form-control" placeholder="Ingrese Código" name="codigo" evento-Enter= "buscarModelo()" ng-model="equipo.Modelo.Codigo" required>                   
                     
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaEquipo.codigo.$error.required" ng-if="altaEquipo.codigo.$touched">
                        Campo obligatorio</i>
                    </div>
                  <!--  <button class="btn pull-right btn-success " type="button" ng-click="altaNuevoModelo()">Alta nuevo modelo<span class="fa fa-plus"></span></button>    -->
                </fieldset>
                <fieldset class="form-group">
                    <label ng-model="descripcion" ng-if="descripcion != null"><i>{{descripcion}}</i></label>
                </fieldset>

                <fieldset class="form-group">
                    <label>IMEI</label>
                    <input type="number" class="form-control" name="imei" placeholder="Ingrese IMEI" ng-model="equipo.Imei" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaEquipo.imei.$error.required" ng-if="altaEquipo.imei.$touched">
                        Campo obligatorio</i>
                        <span class="error" ng-show="altaEquipo.imei.$error.number">
                        Debe ingresar solo numeros!</span>
                    </div>
                </fieldset>
                 <fieldset class="form-group">
                    <label>Precio</label>
                    <input type="text" class="form-control" name="precio" placeholder="Ingrese el precio" ng-model="equipo.Precio" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaEquipo.precio.$error.required" ng-if="altaEquipo.precio.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Descripcion</label>
                    <textarea class="form-control" rows="3" ng-model="equipo.Descripcion"></textarea>
                </fieldset>

                <div class="modal-footer">
                    <div class="span9 btn-block no-padding">
                        <button class="btn pull-right btn-primary" type="button" ng-disabled="altaEquipo.$invalid" ng-click="ok()">Dar de alta</button>
                        <button class="btn pull-right btn-default" type="button"  ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->