<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Administración Móviles</h1>
            </div>
         </div>
         <p>
            <button class="btn btn-primary" type="button" ng-click="abrirModalAltaEquipo()">Dar de alta</button>
            <button class="btn btn-warning" type="button" ng-click="abrirModalModificarEquipo()" ng-disabled="habilitarEdicion">Modificar</button>
            <button class="btn btn-danger" type="button" ng-click="eliminarEquipo()" ng-disabled="habilitarEdicion">Eliminar</button>
        </p>
         
        <!-- /.row -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Mis Equipos
            </div>
            <div ui-grid="opcionesGrillaMisEquipos" ui-grid-auto-resize ui-grid-selection></div>
        </div>
        <!-- END row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->