<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Administración Móviles</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Modificación Equipo
            </div>

            <form name="altaEquipo">
                <!-- END Estructura select y boton lado a lado -->
                <fieldset class="form-group">
                    <label>Código del modelo</label>
                    <input type="text" class="form-control" placeholder="Ingrese Código" name="codigo" evento-Enter= "buscarModelo()" ng-disabled="false" ng-model="equipo.Modelo.Codigo">                
                </fieldset>
                <fieldset class="form-group">
                    <label ng-model="descripcion" ng-if="descripcion != null"><i>{{descripcion}}</i></label>
                </fieldset>

                <fieldset class="form-group">
                    <label>IMEI</label>
                    <input type="text" class="form-control" name="imei" placeholder="Ingrese IMEI" ng-model="equipo.Imei" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaEquipo.Imei.$error.required" ng-if="altaEquipo.Imei.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>
                 <fieldset class="form-group">
                    <label>Precio</label>
                    <input type="text" class="form-control" name="precio" placeholder="Ingrese el precio" ng-model="equipo.Precio" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaEquipo.Precio.$error.required" ng-if="altaEquipo.Precio.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Descripcion</label>
                    <textarea class="form-control" rows="3" ng-model="equipo.Descripcion"></textarea>
                </fieldset>

                <div class="modal-footer">
                    <div class="span9 btn-block no-padding">
                        <button class="btn pull-right btn-warning" type="button" ng-disabled="altaEquipo.$invalid" ng-click="ok()">Modificar</button>
                        <button class="btn pull-right btn-default" type="button"  ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->