<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Administración Móviles</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Alta Modelo
            </div>

            <form name="altaModelo">
                <!-- END Estructura select y boton lado a lado -->
                <fieldset class="form-group">
                    <label>Codigo</label>
                    <input class="form-control" placeholder="Ingrese el Código" name="Codigo" evento-Enter="buscarCodigo()" ng-model="modelo.Codigo" required>
                    
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaModelo.Codigo.$error.required" ng-if="altaModelo.Codigo.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Marca</label>
                   <!-- <pre>Model: {{marcaSeleccionada | json}}</pre>-->
                   <input type="text" ng-model="modelo.Marca"  name="Marca" uib-typeahead="marca as marca.Nombre for marca in marcas  | filter:$viewValue" class="form-control" required>
                      <div style="color: #FF4141">
                        <i class="error" ng-show="altaModelo.Marca.$error.required" ng-if="altaModelo.Marca.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>

                </fieldset>
                <fieldset class="form-group">
                    <label>Modelo</label>
                    <input class="form-control" placeholder="Ingrese el Nombre" name="Modelo"  ng-model="modelo.Nombre" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaModelo.Modelo.$error.required" ng-if="altaModelo.Modelo.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Color</label>
                    <input class="form-control" placeholder="Ingrese el Color" name="Color" ng-model="modelo.Color" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaModelo.Color.$error.required" ng-if="altaModelo.Color.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Capacidad</label>
                    <input class="form-control" placeholder="Ingrese la Capacidad" name="Capacidad" ng-model="modelo.Capacidad" required>
                    <div style="color: #FF4141">
                        <i class="error" ng-show="altaModelo.Capacidad.$error.required" ng-if="altaModelo.Capacidad.$touched">
                        Campo obligatorio</i>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Descripcion</label>
                    <textarea class="form-control" rows="3" ng-model="modelo.Descripcion"></textarea>
                </fieldset>

                <div class="modal-footer">
                    <div class="span9 btn-block no-padding">
                        <button class="btn pull-right btn-primary" type="button" ng-disabled="altaModelo.$invalid" ng-click="ok()">Dar de alta</button>
                        <button class="btn pull-right btn-default" type="button" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->