<div>
    <div class="col-md-4">
        <button type="button" class="btn btn-warning" ng-click="grid.appScope.editar(row.entity)">
        <span class="fa fa-edit">Editar</span>
    </div>
     <div class="col-md-2">
        </button><button type="button" class="btn btn-danger" ng-click="grid.appScope.eliminar(row.entity)">
        <span class="fa fa-remove">Eliminar</span></button>
    </div>    
</div>